##IMPORTANDO AS BIBLIOTECAS

In [1]:
import pandas as pd
import requests
import zipfile

pd.options.display.float_format = '{:.4f}'.format

In [3]:
ano = "2022"
mes = "12"
url = f'https://dados.cvm.gov.br/dados/FI/DOC/INF_DIARIO/DADOS/inf_diario_fi_{ano}{mes}.zip'

In [4]:
download = requests.get(url)

with open(f"inf_diario_fi_{ano}{mes}.zip", "wb") as arquivo_cvm:

    arquivo_cvm.write(download.content) 
    
arquivo_zip = zipfile.ZipFile(f"inf_diario_fi_{ano}{mes}.zip")

In [5]:
dados_fundos = pd.read_csv(arquivo_zip.open(arquivo_zip.namelist()[0]), sep = ";", encoding = 'ISO-8859-1')

dados_fundos

,TP_FUNDO,CNPJ_FUNDO,DT_COMPTC,VL_TOTAL,VL_QUOTA,VL_PATRIM_LIQ,CAPTC_DIA,RESG_DIA,NR_COTST
0,FI,00.017.024/0001-53,2022-12-01,1093517.0000,30.6738,1097086.4800,0.0000,0.0000,1
1,FI,00.017.024/0001-53,2022-12-02,1094076.5800,30.6872,1097567.8900,0.0000,0.0000,1
2,FI,00.017.024/0001-53,2022-12-05,1094638.6700,30.7007,1098050.7100,0.0000,0.0000,1
3,FI,00.017.024/0001-53,2022-12-06,1095200.3400,30.7143,1098536.0700,0.0000,0.0000,1
4,FI,00.017.024/0001-53,2022-12-07,1095464.0200,30.7279,1099020.9400,0.0000,0.0000,1
...,...,...,...,...,...,...,...,...,...
539632,FI,97.929.213/0001-34,2022-12-26,76684544.1700,10.0909,76683936.6200,0.0000,0.0000,2
539633,FI,97.929.213/0001-34,2022-12-27,76630935.4600,10.0896,76673974.5500,0.0000,0.0000,2
539634,FI,97.929.213/0001-34,2022-12-28,76731693.0600,10.1110,76836557.3700,0.0000,0.0000,2
539635,FI,97.929.213/0001-34,2022-12-29,67616216.4800,10.1302,76982947.6800,0.0000,0.0000,2
539636,FI,97.929.213/0001-34,2022-12-30,67700060.7600,10.1412,77066406.2100,0.0000,0.0000,2

In [6]:
dados_cadastro = pd.read_csv('https://dados.cvm.gov.br/dados/FI/CAD/DADOS/cad_fi.csv', 
                             sep = ";", encoding = 'ISO-8859-1')

dados_cadastro = dados_cadastro[['CNPJ_FUNDO', 'DENOM_SOCIAL']]

dados_cadastro = dados_cadastro.drop_duplicates()

dados_cadastro

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (14,17,18,20,22,24,27,37,38) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

               CNPJ_FUNDO                                       DENOM_SOCIAL
0      00.000.684/0001-21  DEUTSCHE BANK FDO APLIC QUOTAS FDO INV FINANCE...
1      00.000.731/0001-37  ITAMARITI CASH FUNDO APLICACAO QUOTAS FDOS INV...
2      00.000.732/0001-81  FUNDO APLIC. QUOTAS DE F.I. SANTANDER CURTO PRAZO
3      00.000.740/0001-28  FUNDO DE APLIC EM QUOTAS DE FUNDOS DE INV BMC ...
4      00.000.749/0001-39  BALANCE FUNDO APLICACAO QUOTAS FUNDO INVESTIME...
...                   ...                                                ...
70911  28.850.140/0001-78  FUNDO DE FINANCIAMENTO DA INDUSTRIA CINEMATOGR...
70912  28.912.043/0001-62  HAPVIDA - FUNDO DE FINANCIAMENTO DA INDUSTRIA ...
70913  31.674.280/0001-47  MEDIA VENTURE ESG INCENTIVADO - FUNDO DE FINAN...
70914  32.222.962/0001-81  Fundo de Financiamento da Indústria Cinematogr...
70915  48.879.897/0001-00  FUNDO DE  FINANCIAMENTO DA INDÚSTRIA CINEMATOG...

[62419 rows x 2 columns]

In [7]:
data_inicio_mes = (dados_fundos['DT_COMPTC'].sort_values(ascending = True).unique())[0]
data_fim_mes = (dados_fundos['DT_COMPTC'].sort_values(ascending = True).unique())[-1]
        

dados_fundos_filtrado = dados_fundos[(dados_fundos['DT_COMPTC'].isin([data_inicio_mes, data_fim_mes]))]
                           

dados_fundos_filtrado

,TP_FUNDO,CNPJ_FUNDO,DT_COMPTC,VL_TOTAL,VL_QUOTA,VL_PATRIM_LIQ,CAPTC_DIA,RESG_DIA,NR_COTST
0,FI,00.017.024/0001-53,2022-12-01,1093517.0000,30.6738,1097086.4800,0.0000,0.0000,1
21,FI,00.017.024/0001-53,2022-12-30,1101258.2300,30.9604,1104335.8500,0.0000,0.0000,1
22,FI,00.068.305/0001-35,2022-12-01,37405993.1800,31.2611,37396214.9000,0.0000,11395.6300,6325
43,FI,00.068.305/0001-35,2022-12-30,37280307.1800,31.5733,37267073.4300,0.0000,0.0000,6300
44,FI,00.071.477/0001-68,2022-12-01,4050002808.7500,11.2531,4049571299.6300,3243205.1400,30019263.2200,69175
...,...,...,...,...,...,...,...,...,...
539592,FI,97.711.801/0001-05,2022-12-30,84865166.6800,2.8370,84832927.1800,0.0000,0.0000,1
539593,FI,97.929.197/0001-80,2022-12-01,149377359.9700,4.8505,149244317.3700,0.0000,0.0000,13
539614,FI,97.929.197/0001-80,2022-12-30,142648863.0800,4.6320,142519765.4300,0.0000,0.0000,13
539615,FI,97.929.213/0001-34,2022-12-01,76260364.6700,10.0330,76243918.8900,0.0000,0.0000,2
539636,FI,97.929.213/0001-34,2022-12-30,67700060.7600,10.1412,77066406.2100,0.0000,0.0000,2

In [8]:
base_final = pd.merge(dados_fundos_filtrado, dados_cadastro, how = "left", 
                      left_on = ["CNPJ_FUNDO"], right_on = ["CNPJ_FUNDO"])

base_final = base_final[['CNPJ_FUNDO', 'DENOM_SOCIAL', 'DT_COMPTC', 'VL_QUOTA', 'VL_PATRIM_LIQ', 'NR_COTST']]

base_final

,CNPJ_FUNDO,DENOM_SOCIAL,DT_COMPTC,VL_QUOTA,VL_PATRIM_LIQ,NR_COTST
0,00.017.024/0001-53,FUNDO DE INVESTIMENTO RENDA FIXA EXPONENCIAL,2022-12-01,30.6738,1097086.4800,1
1,00.017.024/0001-53,FUNDO DE INVESTIMENTO RENDA FIXA EXPONENCIAL,2022-12-30,30.9604,1104335.8500,1
2,00.068.305/0001-35,FUNDO DE INVESTIMENTO EM COTAS DE FUNDOS DE IN...,2022-12-01,31.2611,37396214.9000,6325
3,00.068.305/0001-35,FUNDO DE INVESTIMENTO EM COTAS DE FUNDOS DE IN...,2022-12-30,31.5733,37267073.4300,6300
4,00.071.477/0001-68,BB RENDA FIXA AUTOMÁTICO EMPRESA SIMPLES FUNDO...,2022-12-01,11.2531,4049571299.6300,69175
...,...,...,...,...,...,...
49064,97.711.801/0001-05,953 FUNDO DE INVESTIMENTO EM COTAS DE FUNDOS D...,2022-12-30,2.8370,84832927.1800,1
49065,97.929.197/0001-80,LECT FUNDO DE INVESTIMENTO EM COTAS DE FUNDOS ...,2022-12-01,4.8505,149244317.3700,13
49066,97.929.197/0001-80,LECT FUNDO DE INVESTIMENTO EM COTAS DE FUNDOS ...,2022-12-30,4.6320,142519765.4300,13
49067,97.929.213/0001-34,WHG SISTEMA II FUNDO DE INVESTIMENTO MULTIMERC...,2022-12-01,10.0330,76243918.8900,2
49068,97.929.213/0001-34,WHG SISTEMA II FUNDO DE INVESTIMENTO MULTIMERC...,2022-12-30,10.1412,77066406.2100,2

##Achando o fundo do SAFRA

In [9]:
fundo_safra = base_final[base_final['DENOM_SOCIAL'].str.contains("SAFRA GALILEO ", na = False)]

In [10]:
fundo_safra

,CNPJ_FUNDO,DENOM_SOCIAL,DT_COMPTC,VL_QUOTA,VL_PATRIM_LIQ,NR_COTST
6332,10.347.249/0001-21,SAFRA GALILEO FUNDO DE INVESTIMENTO EM COTAS D...,2022-12-01,582.1317,1235436352.9600,22
6333,10.347.249/0001-21,SAFRA GALILEO FUNDO DE INVESTIMENTO EM COTAS D...,2022-12-30,588.9272,1264858934.1600,22
9264,13.449.021/0001-30,BB ESPELHO MULTIMERCADO LP SAFRA GALILEO PRIVA...,2022-12-01,2.6373,23609844.7100,74
9265,13.449.021/0001-30,BB ESPELHO MULTIMERCADO LP SAFRA GALILEO PRIVA...,2022-12-30,2.6677,23803498.6400,73
13632,19.390.876/0001-10,SAFRA GALILEO SPECIAL FUNDO DE INVESTIMENTO EM...,2022-12-01,235.6801,681143448.8200,5335
13633,19.390.876/0001-10,SAFRA GALILEO SPECIAL FUNDO DE INVESTIMENTO EM...,2022-12-30,238.3242,709549472.5100,5397
14399,20.391.600/0001-35,SAFRA GALILEO DISTRIBUIDORES FUNDO DE INVESTIM...,2022-12-01,226.1204,10842285.2900,12
14400,20.391.600/0001-35,SAFRA GALILEO DISTRIBUIDORES FUNDO DE INVESTIM...,2022-12-30,228.5597,10660438.6200,12
15574,21.940.736/0001-10,SAFRA GALILEO ALOCAÇÃO FUNDO DE INVESTIMENTO E...,2022-12-01,193.1086,414075671.3400,367
15575,21.940.736/0001-10,SAFRA GALILEO ALOCAÇÃO FUNDO DE INVESTIMENTO E...,2022-12-30,195.3585,413827890.2200,368
19661,27.249.022/0001-46,SAFRA GALILEO MASTER FUNDO DE INVESTIMENTO MUL...,2022-12-01,663.0359,6299098914.5800,4
19662,27.249.022/0001-46,SAFRA GALILEO MASTER FUNDO DE INVESTIMENTO MUL...,2022-12-30,671.9127,6424057043.3400,4
19677,27.249.881/0001-35,SAFRA GALILEO AG FUNDO DE INVESTIMENTO EM COTA...,2022-12-01,581.4181,3208292259.0700,26172
19678,27.249.881/0001-35,SAFRA GALILEO AG FUNDO DE INVESTIMENTO EM COTA...,2022-12-30,588.2144,3250687041.7100,26189
19679,27.249.912/0001-58,SAFRA GALILEO PB FUNDO DE INVESTIMENTO EM COTA...,2022-12-01,582.0739,1501104119.6900,2983
19680,27.249.912/0001-58,SAFRA GALILEO PB FUNDO DE INVESTIMENTO EM COTA...,2022-12-30,588.8652,1560902473.5700,3054
19681,27.249.932/0001-29,SAFRA GALILEO PJ FUNDO DE INVESTIMENTO EM COTA...,2022-12-01,582.2996,354845813.6100,463
19682,27.249.932/0001-29,SAFRA GALILEO PJ FUNDO DE INVESTIMENTO EM COTA...,2022-12-30,589.0751,349700104.7500,457
31630,36.399.993/0001-63,SAFRA GALILEO PLUS ALOCAÇÃO FUNDO DE INVESTIME...,2022-12-01,122.0247,25269358.8100,4
31631,36.399.993/0001-63,SAFRA GALILEO PLUS ALOCAÇÃO FUNDO DE INVESTIME...,2022-12-30,123.7022,25616745.5400,4
31632,36.400.027/0001-19,SAFRA GALILEO PLUS MASTER FUNDO DE INVESTIMENT...,2022-12-01,130.6437,45200520.5000,3
31633,36.400.027/0001-19,SAFRA GALILEO PLUS MASTER FUNDO DE INVESTIMENT...,2022-12-30,132.6678,49162396.9800,3
35720,39.272.622/0001-04,J.SAFRA GALILEO FUNDO DE INVESTIMENTO EM COTAS...,2022-12-01,1.1436,2964638.5900,39
35721,39.272.622/0001-04,J.SAFRA GALILEO FUNDO DE INVESTIMENTO EM COTAS...,2022-12-30,1.1567,3159789.4000,45
36627,39.876.097/0001-36,SAFRA GALILEO PLUS FUNDO DE INVESTIMENTO EM CO...,2022-12-01,113.2137,18152752.4800,139
36628,39.876.097/0001-36,SAFRA GALILEO PLUS FUNDO DE INVESTIMENTO EM CO...,2022-12-30,114.7694,18515834.7700,142
47637,46.456.184/0001-08,SAFRA GALILEO PLUS II FUNDO DE INVESTIMENTO EM...,2022-12-01,97.2394,1803326.0900,4
47638,46.456.184/0001-08,SAFRA GALILEO PLUS II FUNDO DE INVESTIMENTO EM...,2022-12-30,98.4099,4953030.7000,24

##Patrimônio e performânce do fundo em dezembro

In [11]:
fundo_safra_master = fundo_safra[(fundo_safra['CNPJ_FUNDO'] == "27.249.022/0001-46") &
                                          ( fundo_safra['DT_COMPTC'] == "2022-12-30")]

patrimonio_do_fundo =  "R$ " + str((fundo_safra_master['VL_PATRIM_LIQ'].iloc[0]/1000000).round(2)) + "MM"

patrimonio_do_fundo

'R$ 6424.06MM'

In [12]:
fundo_safra_fic = fundo_safra[(fundo_safra['CNPJ_FUNDO'] == "27.249.022/0001-46")]
                                          
retorno_dez = ("Retorno fundo: " +
            str(((fundo_safra_fic['VL_QUOTA'].iloc[-1]/fundo_safra_fic['VL_QUOTA'].iloc[0] - 1)
                 * 100).round(2)) 
               + "%") 
    
retorno_dez

'Retorno fundo: 1.34%'